@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Impact;
}

:root {
    --background: #040405;
    --button: #24303f5e;
    --first_color: #111111;
    --secondary_color: rgb(0, 162, 255);
    --text_color: #fff;
    --text_color-menu: #fff;
    --shadow: #000;
    --border: #282828;
    --hover: #1a1a1a;
    --background_btn: #060606;
    --text_color_project: #fff;
    --html: rgb(240, 136, 38);
    --css: rgb(26, 127, 185);
    --javascript: rgb(252, 234, 74);
}

html, body {
    scroll-behavior: smooth;
    color: var(--text_color);
    background-color: var(--background);
    transition: .5s;
}

body::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background-color: var(--background);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--first_color);
	border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--hover);
}

a {
    text-decoration: none;
    color: var(--text_color);
    font-weight: 700;
}

li {
    list-style: none;
}

p {
    line-height: 30px;
    font-weight: 500;
}

strong {
    color: var(--secondary_color);
    font-weight: 700;
}

.intro {
    user-select: none;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 250vh;
    background: var(--background);
    transition: 1s;
}

.intro--conteiner {
    margin-top: -100vh;
    font-size: 200px;
    color: var(--text_color);
    font-weight: 500;
    letter-spacing: -25px;
}

.logo-parts {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo-parts.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo-parts.fade {
    bottom: 250px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.intro p {
    color: var(--text_color);
    font-size: 25px;
    font-weight: 500;
    margin-top: -30px;
}

.section--navigation {
    z-index: 10;
    position: fixed;
    background-color: var(--background);
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -1px 8px var(--shadow);
    transition: 0.5s;
}

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation img {
    position: relative;
    width: 135px;
    margin-left: 55px;
    user-select: none;
}

.navigation__bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 30px;
    font-size: 22px;
    text-decoration: none;
}

.navigation__bar i {
    margin-bottom: 10px;
    cursor: pointer;
    margin-right: 38px;
    font-style: normal;
    transition: .5s;
}

.navigation__bar i:hover {
    color: var(--secondary_color);
}

.language-menu {
    color: var(--text_color);
    transition: .5;
}

.language-menu:hover {
    color: var(--secondary_color);
}

#language-menu {
    display: none;
}

.container-language {
    z-index: 20;
    position: fixed;
    background: rgba(15, 15, 15, 0.322);
    width: 100%;
    height: 1000vh;
    top: 0;
    left: 0;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

#language-menu:checked ~ .container-language {
    opacity: 1;
    visibility: visible;
}

.card--language {
    margin-left: auto;
    margin-right: 85px;
    z-index: 30;
    position: relative;
    max-width: 200px;
    height: 130px;
    background: var(--background_btn);
    transform: translateY(-100%);
    border: 2px solid var(--border);
    transition: .5s;
}

#language-menu:checked ~ .container-language .card--language {
    transform: translateY(0%);
}

.card--language nav a {
    font-size: 16.5px;
    text-align: center;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: var(--text_color-menu);
    border: 3px solid transparent;
    transition: .5s;
}

.card--language nav a:hover {
    border: 3px solid var(--border);
    background: var(--button);
}

.card--language label i {
    position: absolute;
    right: 7px;
    top: 3px;
    cursor: pointer;
    font-size: 25px;
    color: var(--text_color-menu);
    transition: .5s;
}

.card--language label i:hover {
    color: var(--secondary_color);
}

.btn-menu {
    margin-right: -25px;
    color: var(--text_color);
    transition: .5;
}

.btn-menu:hover {
    color: var(--secondary_color);
}

#btn-menu {
    display: none;
}

.container-menu {
    z-index: 21;
    position: fixed;
    background: rgba(15, 15, 15, 0.322);
    width: 100%;
    height: 1000vh;
    top: 0;
    left: 0;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}

.card--menu {
    margin-left: auto;
    z-index: 31;
    width: 100%;
    max-width: 500px;
    background: var(--background_btn);
    height: 100vh;
    position: relative;
    transition: .5s;
    transform: translateX(100%);
    border: 2px solid var(--border);
}

#btn-menu:checked ~ .container-menu .card--menu {
    transform: translateY(0%);
}

.card--menu nav {
    transform: translateY(90%);
}

.card--menu nav a {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 25px;
    text-align: center;
    display: block;
    padding: 25px;
    text-decoration: none;
    color: var(--text_color-menu);
    border: 3px solid transparent;
    transition: .5s;
}

.card--menu nav a:hover {
    border: 3px solid var(--border);
    background: var(--button);
}

.card--menu label i {
    margin-top: 2px;
    margin-right: 3px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 30px;
    color: var(--text_color-menu);
    transition: .5s;
}

.card--menu label i:hover {
    color: var(--secondary_color);
}

.content {
    min-height: 100vh;
    min-width: 100vh;
}

.footer {
    user-select: none;
    margin-top: 180px;
    background-color: var(--first_color);
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer__conteiner {
    margin-top: -45px;
    margin-left: auto;
    margin-right: auto;
}

.footer .footer__conteiner img {
    margin-left: 25%;
    width: 185px;
}

.footer .footer__conteiner ul {
    margin-top: -5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer .footer__conteiner ul li a {
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
}

.footer .footer__conteiner p {
    margin-top: 15px;
    margin-left: -5px;
    text-align: center;
}

@media (min-width: 850px) {
    .intro--conteiner {
        margin-top: -150vh;
    }
}

:root .white {
    --background: rgb(235, 235, 235);
    --button: #0750a854;
    --first_color: #a1a1a1;
    --secondary_color: rgb(0, 146, 231);
    --text_color: #494c61;
    --text_color-menu: #2b2d3b;
    --shadow: rgb(126, 126, 126);
    --border: #282828;
    --hover: #b3b3b3;
    --background_btn: #cccccc;
    --text_color_project: #1a1c22;
}

.white #logo {
    filter: invert(70%) sepia(10%) saturate(1038%) hue-rotate(195deg) brightness(101%) contrast(93%);
    transition: .5s;
}

.white #logo:hover {
        filter: invert(50%) sepia(5%) saturate(1038%) hue-rotate(195deg) brightness(101%) contrast(93%);
}